body {
  & > header {
    background-color: $brand-info;
    border-bottom: solid 2px darken($brand-info, 10%);
    color: #fff;

    a {
      color: inherit;

      &:hover {
        color: inherit;
      }
    }

    .logo {
      padding-top: 23px;
      text-transform: uppercase;
      letter-spacing: 1px;

      @media (min-width: $screen-md-min) {
        padding-bottom: 23px;
        float: left;
        white-space: nowrap;
      }

      .glyphicon {
        float: left;
        font-size: 33px;
        line-height: 1.1;
        margin-right: 7px;
        text-decoration: none;
        display: none;

        @media (min-width: $screen-sm-min) {
          display: block;
        }
      }

      .title {
        font-weight: 700;
        font-size: 20px;
        text-decoration: none;
        color: inherit;
        display: block;
        line-height: 1.2;
      }

      .tagline {
        display: block;
        font-size: 12px;
        line-height: 1.1;
        font-weight: 300;

        a {
          font-weight: normal;
        }
      }
    }

    nav {
      @media (min-width: $screen-md-min) {
        text-align: right;
      }

      .user {
        display: block;
        padding-top: $grid-gutter-width/2;
        padding-bottom: $grid-gutter-width/2;
      }
    }
  }

  .breadcrumb-wrapper {
    background-color: lighten($gray-lighter, 3%);

    .breadcrumb {
      background-color: inherit;
      margin-bottom: 0;
    }
  }
}
