$ui-border: 2px;
$ui-border-sub: 2px;

$brand-primary:         #EAD045; //BS
$brand-success:         #7AB800; //BS
$brand-info:            #428bca; //BS
$brand-warning:         rgb(244, 124, 35); //BS
$brand-danger:          #ff0000; //BS

$link-color: $brand-info; //BS

$font-family-sans-serif:  'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif; //BS

$headings-font-weight:  400; //BS
