$icon-font-path: '../bower_components/bootstrap-sass/assets/fonts/bootstrap/';

@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';


section {
  border-bottom: solid 4px $text-color;

  .container {
    padding-top: $grid-gutter-width;
    padding-bottom: $grid-gutter-width;

    @media (min-width: $screen-md-min) {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAABCAYAAAD0In+KAAAAEklEQVQImWP48OHD/w8fPvwHACIjB58VdezUAAAAAElFTkSuQmCC);
      background-repeat: repeat-y;
      background-position: 76% 0;
    }
  }

  .intro {
    margin-bottom: $grid-gutter-width;

    @include make-row();
    h1 {
      @include make-md-column(6);
      @include make-md-column-offset(3);
    }

    p {
      clear: left;
      @include make-md-column(6);
      @include make-md-column-offset(3);
      font-size: 16px;
    }
  }

  .question {
    clear: both;
    @include make-row();
    padding-bottom: $grid-gutter-width;

    h2 {
      font-size: 26px;
      margin-top: 0;
      margin-bottom: 0.6em;
    }

    .instructions {
      @include make-md-column(3);
      clear: left;
      text-align: right;

      div {
        text-align: left;
        background-color: $text-color;
        z-index: 1;
        padding: 15px;

        @media (min-width: $screen-md-min) {
          position: absolute;
          top: -20%;

          &:after {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 8px 0 8px 8px;
            border-color: transparent transparent transparent $text-color;
            position: absolute;
            top: 10px;
            right: -8px;
          }
        }

        &.in,
        &.collapsing {
          color: #fff;

          & + .toggle {
            position: relative;
            z-index: 2;

            span {
              background-color: #fff;
              color: $text-color;
            }
          }
        }
      }

      .toggle {
        span {
          background-color: $gray-light;
          color: #fff;
          width: 20px;
          height: 20px;
          line-height: 20px;
          display: inline-block;
          text-align: center;
          border-radius: 50%;
          margin-top: 5px;
        }
      }
    }
    .main {
      @include make-md-column(6);
    }
    .comments {
      @include make-md-column(3);

      label {
        color: $gray-light;
        padding-left: 18px;

        @media (min-width: $screen-md-min) {
          height: 0;
          overflow: hidden;
        }
      }
      textarea {
        width: 100%;
        padding: 15px 20px;
        resize: none;
        outline: none;
        border: none;

        @media (min-width: $screen-md-min) {
          margin-top: -10px;
          margin-left: -2px;
        }

        &:focus {
          background-color: $gray-lighter;
        }
      }
    }

    &.scale,
    &.yes-no {
      .answer {
        display: table;
        width: 100%;
        table-layout: fixed;

        input {
          display: none;

          &:checked {

            & + label span {
              background-color: $text-color;
              color: $body-bg;
            }
          }
        }

        label {
          display: table-cell;
          text-align: center;
          font-weight: normal;

          span {
            display: block;
            border-style: solid;
            border-color: $text-color;
            border-width: 4px 2px;
            cursor: pointer;
            font-size: 20px;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            text-align: center;
            font-weight: bold;
            margin-bottom: 0.5em;
          }

          &:first-of-type {
            text-align: left;
            span {
              border-left-width: 4px;
            }
          }

          &:last-of-type {
            text-align: right;
            span {
              border-right-width: 4px;
            }
          }
        }
      }
    }

    &.first {
      .comments {
        label {
          height: auto;
        }
      }
    }
  }
}
