.btn-primary-black {
  background-color: $color-okf-black;
  border-color: darken($color-okf-black, 5%);
  color: $color-okf-white;

  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active {
    background-color: lighten($color-okf-black, 5%);
    border-color: lighten($color-okf-black, 7%);
    color: $color-okf-white;
  }
}
