@mixin table-label($bg-colour:$color-okf-grey) {
  text-align: center;
  background-color: $bg-colour;
  opacity: 0.6;
  padding: 2px;
  width: 40px;
  text-align: center;
  display: inline-block;
}

// Tables
.data-table {
  thead th {
    font-size: 14px;
  }
}

#slice-table {
  .year {
    span {
      @include table-label();
    }
  }

  thead:not(.is_stuck) {
    th.admin {
      border-bottom-color: #fff;
    }
  }

  td.admin {
    border-top-color: #fff;
    text-align: right;

    a.view {
      color: $brand-danger;
    }
  }

  tr.details {
    background-color: $color-okf-grey;

    td.info-content {
      padding-top: $grid-gutter-width/2;
      padding-bottom: $grid-gutter-width/2;
      padding-right: 70px;

      hr {
        border-top-color: rgba($text-color, 0.5);
        margin-top: 12px;
        margin-bottom: 12px;
      }
    }
  }
  td {
    &.breakdown {
      padding: 5px 8px;
    }
    &.info-expander {
      padding: 0;
      cursor: pointer;
      a {
        display: block;
        cursor: pointer;
        padding: 8px;
        text-align: center;
        color: black;
        background-color: #DDD;
        &.collapsed {
          color: $link-color;
          background-color: transparent;
          &:hover,
          &:focus
          &:active {
            background-color: $color-okf-grey;
          }
        }
      }
    }
  }
}

.table-header-stuck thead {
  position: sticky;
  z-index: 10;
  top: 0;
  &.stuck {
    background-color: #FFF;
  }
}
