// Tables
.data-table {
  thead th {
    font-size: 14px;
  }
}

#slice-table {
  tr.details {
    background-color: $color-okf-grey;
  }
  td {
    &.breakdown {
      padding: 5px 8px;
    }
    &.info-expander {
      padding: 0;
      cursor: pointer;
      a {
        display: block;
        cursor: pointer;
        padding: 8px;
        text-align: center;
        color: black;
        background-color: #DDD;
        &.collapsed {
          color: $link-color;
          background-color: transparent;
          &:hover,
          &:focus
          &:active {
            background-color: $color-okf-grey;
          }
        }
      }
    }
  }
}

.table-header-stuck thead {
  position: sticky;
  z-index: 10;
  top: 0;
  &.stuck {
    background-color: #FFF;
  }
}
