// UNSORTED STYLING...

.dataset-about {

  h3 {
    //font-weight: 300;
  }
}

.is_stuck {
  background-color: white;

  th {
    min-width: 69px;
  }
}

.dataset-title-context {
  cursor: pointer;
}

.dataset-context {
  float: right;
  cursor: pointer;
  color: #428bca;
}

.tell-me-embedded {
  margin-top: 32px;
}


.story-preview {
  text-align: right;
  margin-top: 20px;
  img {
    width: 120px;
  }

}


.story-image {
  text-align: right;

  img {
    width: 260px;
  }

}

blockquote {
  color: lighten(#333333, 25%);
}

.article-summary {
  margin-bottom: 20px;
}

.pointer {
  cursor: pointer;
}

a.silent-link {
  text-decoration: none;
  color: black;

  &:hover {
    text-decoration: none;
  }

}

.percent-open-context {
  cursor: pointer;
}
