// UNSORTED STYLING...

#home-visualisation, #permalink-visualisation {
  width: 100%;
  height: auto;
}

#home-visualisation {
  margin-top: -20px;
  .map_visualisation {
    background-image: url('/static/images/map-bg.png');
    background-repeat: repeat;
    background-position: center;
    background-color: #f0f0f0;
    .map {
      padding: 30px;
    }
  }
  .chart_visualisation {
    background-color: #eeeeee;
    .chart {
      padding: 30px;
      img {
        min-width: 100px;
        max-width: 175px;
        min-height: 100px;
        max-height: 175px;
        height: 100%;
        width: 100%;
        margin: 25px;
      }
    }
  }
}

.summary-compared {
  font-size: 0.75em;
}

.search-tool {
  padding-left: 1.5em;
}

.rank-previous, .score-previous, .score-top, .rank-top {
  opacity: 0.6;
  padding: 2px;
  width: 40px;
  text-align: center;
  display: inline-block;
}

td.previous-results {
  text-align: center;
}

#map-container {
  margin-top: 20px;
}

h1, .h1 {
  font-size: 34px;

  a {
    color: black;
    &:hover {
      color: black;
      text-decoration: underline;
    }
  }
}

h3 {
  a {
    color: black;
    &:hover {
      color: black;
      text-decoration: underline;
    }
  }
}


.place-rank, .dataset-rank {
  float: left;
  border-radius: 0 !important;
  font-size: 30px;
  font-weight: 300;
  background-color: $color-okf-black;
}

#places_overview_table thead tr th, #datasets_overview_table thead tr th, #slice-table thead tr th {

  &:first-child {
    cursor: pointer;
    color: lighten(black, 15%);
  }

  &:nth-child(2) {
    cursor: pointer;
    color: lighten(black, 15%);
  }

  &:last-child {
    cursor: pointer;
    color: lighten(black, 15%);
  }
}

#places_overview_table {

  tr td {
    padding: 8px 4px 8px 4px !important;

    a {
      font-size: 12px;
    }
  }

  thead tr th {
    height: 100px;

    .dataset-title-context {
      display: block;
      @include rotate(-90deg);
      padding: 8px;
    }
  }
}

.uppercase {
  text-transform: uppercase;
}

.justify {
  text-align: justify;
}

.dataset-info {
  font-size: 0.875em;
}

th.header.headerSortDown:after {
  font-family: FontAwesome;
  content: $fa-var-arrow-circle-down;
  text-align: right;
  float: right;
}

th.header.headerSortUp:after {
  font-family: FontAwesome;
  content: $fa-var-arrow-circle-up;
  text-align: right;
  float: right;
}

.google-plus {
  color: #D34836;
}

.twitter {
  color: #4099FF;
}

.facebook {
  color: #3B5998;
}

.home-about2, #home-visualisation {
  background-color: #f0f0f0;
}

.home-about2 {
  padding-bottom: 40px;
  padding-top: 18px;

  h2 {
    font-size: 42px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 8px;
  }
}

.home-box {
  text-align: center;

  p {
    padding: 0 60px;
  }

  h3 {
    font-weight: 300;
    font-size: 30px;
  }
}

.place-rank {
  background-color: #f5f5f5;
  color: $color-okf-black;
  padding: 8px;
  font-size: 24px;
  font-weight: 300;
}



.dataset-about {

  h3 {
    //font-weight: 300;
  }
}

.is_stuck {
  background-color: white;

  th {
    min-width: 69px;
  }
}

.dataset-title-context {
  cursor: pointer;
}

.dataset-context {
  float: right;
  cursor: pointer;
  color: #428bca;
}

.tell-me-embedded {
  margin-top: 32px;
}


.story-preview {
  text-align: right;
  margin-top: 20px;
  img {
    width: 120px;
  }

}


.story-image {
  text-align: right;

  img {
    width: 260px;
  }

}

blockquote {
  color: lighten(#333333, 25%);
}

.article-summary {
  margin-bottom: 20px;
}

.pointer {
  cursor: pointer;
}

a.silent-link {
  text-decoration: none;
  color: black;

  &:hover {
    text-decoration: none;
  }

}

.percent-open-context {
  cursor: pointer;
}
