{% extends "page.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body_class %}form{% endblock %}
{% block body %}
<header class="form-header">
  <div class="container">
    <div>
      <div class="primary-meta">
        <h1>
          <span class="no-js">
            Cambridge <a href="#"><span>(change place)</span></a>
            <span>
              <ul>
                <li>Nottingham</li>
                <li class="selected">Cambridge</li>
                <li>Leeds</li>
                <li>Manchester</li>
                <li>Bristol</li>
                <li>Sheffield</li>
                <li>Oxford</li>
                <li>London</li>
                <li>Birmingham</li>
                <li>Liverpool</li>
                <li>York</li>
                <li>Belfast</li>
                <li>Oldham</li>
                <li>Glasgow</li>
                <li>Cardiff</li>
                <li>Chelmsford</li>
                <li>Bury</li>
                <li>Rochdale</li>
                <li>Stockport</li>
                <li>Tameside</li>
                <li>Trafford</li>
                <li>Aberdeen</li>
                <li>Aldershot</li>
                <li>Bath</li>
                <li>Birkenhead</li>
                <li>Blackburn</li>
                <li>Blackpool</li>
                <li>Bolton</li>
                <li>Bournemouth</li>
                <li>Brighton</li>
                <li>Coventry</li>
                <li>Crawley</li>
                <li>Derby</li>
                <li>Dundee</li>
                <li>Eastbourne</li>
                <li>Edinburgh</li>
                <li>Exeter</li>
                <li>Falkirk</li>
                <li>Gloucester</li>
                <li>Grimsby/Cleethorpes</li>
                <li>Ipswich</li>
                <li>Kingston-upon-Hull</li>
                <li>Leicester</li>
                <li>Lincoln</li>
                <li>Luton/Dunstable</li>
                <li>Milton Keynes</li>
                <li>Newcastle</li>
                <li>Newport</li>
                <li>Northampton</li>
                <li>Norwich</li>
                <li>Peterborough</li>
                <li>Plymouth</li>
                <li>Portsmouth</li>
                <li>Preston</li>
                <li>Reading</li>
                <li>Slough</li>
                <li>Southampton</li>
                <li>Southend</li>
                <li>Sunderland</li>
                <li>Swansea</li>
                <li>Swindon</li>
                <li>Telford</li>
                <li>Wigan</li>
              </ul>
            </span>

          </span>
          <span class="no-js">
            Air Quality <a href="#"><span>(change dataset)</span></a>
            <span>
              <ul>
                <li>Dataset</li>
                <li>Expenditure (detailed)</li>
                <li>Procurement contracts</li>
                <li class="selected">Air Quality</li>
                <li>Public Facilities</li>
                <li>Election results</li>
                <li>Transport Timetables</li>
                <li>Annual Budget</li>
                <li>Building permits</li>
                <li>Traffic accidents</li>
                <li>Real-Time Transit</li>
                <li>Business Permits</li>
                <li>Business Listings</li>
                <li>Service Requests</li>
              </ul>
            </span>
          </span>
        </h1>
        <p>
          Data on air quality (e.g. levels of major pollutants) on a granular basis - that is at least broken down by month (preferably by day). Geographic breakdown (e.g. by grid point) would be nice but is not required.
        </p>
      </div>
      <div class="secondary-meta">
        <dl class="pending">
          <dt class="status">
            Status
          </dt>
          <dd>
            pending
          </dd>
          <dt class="date">
            Submission date
          </dt>
          <dd>
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> 1:17pm on 21st Feb 2016
          </dd>
          <dt class="submitter">
            Submitter
          </dt>
          <dd>
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Артур Волков
          </dd>
        </dl>
      </div>
    </div>
  </div>
</header>

{# warning #}
<div class="alert alert-warning" role="alert">
  <div class="container">
    <div>
      <p>
        Sam, you do not have permissions to review this submission.
      </p>
    </div>
  </div>
</div>
{# end warning #}

{# info #}
<div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <div class="container">
    <div>
      <p>
        Please read the <a class="btn btn-sm" data-toggle="modal" data-target="#guidance">Submission Guidance</a> before proceeding.
      </p>
    </div>
  </div>
</div>
<div class="modal fade" id="guidance" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Submission Guidance</h4>
      </div>
      <div class="modal-body">
        <p>Please review this submission carefully as we have updated the guidance around what each dataset refers to and the data availability question explanations.</p>
        <h5 id="1-official-data-sources">1. Official data sources</h5>
        <p>Please answer regarding <strong>official (government or government associated)</strong> sources of data. Often data is available from various sources both official and unofficial but we only want answers on the basis of official sources.</p>
        <p>To illustrate: suppose election results data is available both from government sources and from a third party website and that the government data is in PDF (so <strong>not</strong> machine readable) but that the unofficial source has the data in spreadsheets (machine-readable). Then the answer to the machine readable question would be <strong>'No'</strong> as the official source is not machine readable (but please do list the unofficial source in the details and comments section).</p>
        <h5 id="2-provide-evidence">2. Provide evidence</h5>
        <p>Please try to provide <strong>relevant evidence to back up responses</strong>. For example, if data is public and online the URL field should not be empty, or, if the data is openly licensed there should be information (e.g. link) for relevant license of terms-of-use in the details.</p>
        <h5 id="3-assessment-point">3. Assessment Point</h5>
        <p>Questions should be answered on the basis of the situation as of today. Do <strong>not</strong> answer based on what may happen in the future (or the situation previously). So, for example, if data will be online soon but is not online now the answer to the 'online' question should be 'No' (though please mention that it <em>will</em> be available in the details and comments section).</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Got it</button>
      </div>
    </div>
  </div>
</div>
{# end info #}

<section>
  <div class="container">

    <div class="intro">
      <h1>Section A - About you</h1>
      <p>This section is not scored, but could provide valuable insights.</p>
    </div>

    <div class="scale first question">

      <div class="main">
        <div>
          <div class="instructions">
          </div>
          <h2><span>A1.</span> Rate your knowledge of {...}.</h2>
        </div>
        <div>
          <div class="current">
          </div>
          <div class="answer-wrapper">
            <div class="answer">
              <span>
                <input type="radio" name="scaleOne" id="scaleOne1">
                <label for="scaleOne1">
                  <span>1</span> <em class="description"> I'm not familiar at all with the field</em>
                </label>
              </span>
              <span>
                <input type="radio" name="scaleOne" id="scaleOne2">
                <label for="scaleOne2">
                  <span>2</span> <em class="description">I have some knowledge about the field</em>
                </label>
              </span>
              <span>
                <input type="radio" name="scaleOne" id="scaleOne3">
                <label for="scaleOne3">
                  <span>3</span> <em class="description">I have advanced knowledge in this field</em>
                </label>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="comments">
        <label for="commentOne">Comments</label>
        <textarea placeholder="Click here to tell us more about your background. What is your knowledge about the data category, the government in your country, and Open Data in general?" id="commentOne" rows="5"></textarea>
      </div>
    </div>

    <div class="scale question">
      <div class="main">
        <div>
          <div class="instructions">
          </div>
          <h2><span>A2.</span> Rate your knowledge of open data.</h2>
        </div>
        <div>
          <div class="current">
          </div>

          <div class="answer-wrapper">
            <div class="answer">
              <span>
                <input type="radio" name="scaleTwo" id="scaleTwo1">
                <label for="scaleTwo1">
                  <span>1</span> <em class="description">I'm not familiar at all with open data</em>
                </label>
              </span>
              <span>
                <input type="radio" name="scaleTwo" id="scaleTwo2">
                <label for="scaleTwo2">
                  <span>2</span> <em class="description">I have some knowledge about open data</em>
                </label>
              </span>
              <span>
                <input type="radio" name="scaleTwo" id="scaleTwo3">
                <label for="scaleTwo3">
                  <span>3</span> <em class="description">I have advanced knowledge</em>
                </label>
              </span>
            </div>
          </div>
        </div>

      </div>
      <div class="comments">
        <label for="commentTwo">Comments</label>
        <textarea placeholder="Add comments" id="commentTwo" rows="5"></textarea>
      </div>
    </div>

  </div> <!-- /container -->
</section>

<section>
  <div class="container">
    <div class="intro">
      <h1>Section B - About the data</h1>
    </div>

    <div class="yes-no question">
      <div class="main">
        <div>
          <div class="instructions">
            <div class="collapse" id="instructionsThree">
              <h4>Instructions</h4>
              <p>
                Answer “Yes” if the chosen data are collected by government, or a third party officially representing government. This is the case for state-owned-enterprises or contractors delivering public services for government.
              </p>
              <p>
                Answer “No” if one of the following facts apply:
              </p>
              <ul>
                <li>
                  The data is collected by organisations that do not represent government.
                </li>
                <li>
                  The data is collected but not for the relevant government level.
                </li>
              </ul>
            </div>
            <a class="toggle" role="button" data-toggle="collapse" href="#instructionsThree" aria-expanded="false" aria-controls="instructionsThree"><span class="sr-only">Help</span><span class="icon">?</span></a>
          </div>

          <h2><span>B1.</span> Is the data collected by government (or a third-party related or linked to government)?</h2>
        </div>

        <div>
          <div class="current">
            {# if current entry #}
            <dl>
              <dt>
                Current entry
              </dt>
              <dd>
                No
              </dd>
            </dl>
            {# end if #}
          </div>
          <div class="answer-wrapper">
            <div class="answer">
              <input type="radio" name="yesnoOne" id="yesnoOne1">
              <label for="yesnoOne1">
                <span>No</span>
              </label>
              <input type="radio" name="yesnoOne" id="yesnoOne2">
              <label for="yesnoOne2">
                <span>Yes</span>
              </label>
            </div>
          </div>
        </div>

      </div>

      <div class="comments">
        <label for="commentThree">Comments</label>
        <textarea placeholder="Add comments" id="commentThree" rows="5"></textarea>
      </div>
    </div>


    <div class="text sub question">
      <div class="main">
        <div>
          <div class="instructions">

          </div>
          <h3><span>B1.1</span> What is the name of the organisation?</h3>
        </div>

        <div>
          <div class="current">
            {# if current entry #}
            <dl>
              <dt>
                Current entry
              </dt>
              <dd>
                My organisation
              </dd>
            </dl>
            {# end if #}
          </div>
          <div class="answer-wrapper">
            <div class="answer">
              <input type="text" />
            </div>
          </div>
        </div>

      </div>
      <div class="comments">

      </div>
    </div>

    <div class="yes-no question">
      <div class="main">
        <div>
          <div class="instructions">
            <div class="collapse" id="instructionsFour">
              <h4>Instructions</h4>
              <p>
                This question measures if the data are accessible online from a government source without mandatory registration procedures.
              </p>
              <p>
                Answer “Yes”, if the data are available online on a public website from government. It is important that there are no mandatory registration procedures that can deter people from accessing data.
              </p>
              <p>
                Answer “No” for following cases (multiple answers possible): The data are available online but,
              </p>
              <ul>
                <li>
                  The data is collected by organisations that do not represent government.
                </li>
                <li>
                  The data is collected but not for the relevant government level.
                </li>
              </ul>
            </div>
            <a class="toggle" role="button" data-toggle="collapse" href="#instructionsFour" aria-expanded="false" aria-controls="instructionsFour"><span class="sr-only">Help</span><span class="icon">?</span></a>

          </div>

          <h2><span>B2.</span> Is the dataset available online directly (without the requirement to register or request access to data)?</h2>
        </div>

        <div>
          <div class="current changed">
            {# if current entry #}
            <dl>
              <dt>
                Current entry
              </dt>
              <dd>
                No
              </dd>
            </dl>
            {# end if #}
          </div>
          <div class="answer-wrapper">
            <div class="answer">
              <input type="radio" name="yesnoFour" id="yesnoFour1">
              <label for="yesnoFour1">
                <span>No</span>
              </label>
              <input type="radio" name="yesnoFour" id="yesnoFour2">
              <label for="yesnoFour2">
                <span>Yes</span>
              </label>
            </div>
          </div>
        </div>

      </div>
      <div class="comments">
        <label for="commentFour">Comments</label>
        <textarea placeholder="Add comments" id="commentFour" rows="5"></textarea>
      </div>
    </div>

    <div class="source sub question">
      <div class="main">
        <div>
          <div class="instructions">
            <div class="collapse" id="instructionsFive">
              <h4>Instructions</h4>
              <p>
                Example: If you find data on a financial department website, please fill in: “website of National Department of Finances”. Sometimes you can find data in a lot of places in the web.
              </p>
            </div>
            <a class="toggle" role="button" data-toggle="collapse" href="#instructionsFive" aria-expanded="false" aria-controls="instructionsFive"><span class="sr-only">Help</span><span class="icon">?</span></a>
          </div>
          <h3><span>B2.1</span> Where did you find the dataset?</h3>
        </div>

        <div>
          <div class="current changed">
            {# if current entry #}
            <dl>
              <dt>
                Current entry
              </dt>
              <dd>
                <ul>
                  <li>
                    http://www.airqualityengland.co.uk/local-authority/data?la_id=51
                  </li>
                  <li>
                    Website providing at-a-glance air quality information for a variety of local authorities &amp; the private sector across England.
                  </li>
                </ul>
              </dd>
            </dl>
            {# end if #}
          </div>
          <div class="answer-wrapper">
            <div class="answer">
              <ul>
                <li class="has-error">
                  <label>Source URL</label>
                  <input type="url" placeholder="http://" />
                  <span class="error-message">Error</span>
                </li>
                <li>
                  <label>Source description</label>
                  <input type="text" />
                </li>
              </ul>
              <ul>
                <li>
                  <label>Source URL</label>
                  <input type="url" placeholder="http://" />
                </li>
                <li>
                  <label>Source description</label>
                  <input type="text" />
                </li>
              </ul>
              <a class="add">Add another</a>
            </div>
          </div>
        </div>
      </div>
      <div class="comments">
        <label for="commentFive">Comments</label>
        <textarea placeholder="Add comments" id="commentFive" rows="5"></textarea>
      </div>
    </div>

    <div class="scale sub question">
      <div class="main">
        <div>
          <div class="instructions">
          </div>
          <h3><span>B2.2</span> How much do you agree with the following statement? “It was easy for me to find the data.”</h3>
        </div>

        <div>
          <div class="current">
            {# if current entry #}
            <dl>
              <dt>
                Current entry
              </dt>
              <dd>
                1
              </dd>
            </dl>
            {# end if #}
          </div>
          <div class="answer-wrapper">
            <div class="answer">
              <span>
                <input type="radio" name="scaleSix" id="scaleSix1">
                <label for="scaleSix1">
                  <span>1</span> <em class="description">Do not agree at all</em>
                </label>
              </span>
              <span>
              <input type="radio" name="scaleSix" id="scaleSix2">
              <label for="scaleSix2">
                <span>2</span> <em class="description">Rather do not agree</em>
              </label>
              </span>
              <span>
              <input type="radio" name="scaleSix" id="scaleSix3">
              <label for="scaleSix3">
                <span>3</span> <em class="description">Rather agree</em>
              </label>
              </span>
              <span>
              <input type="radio" name="scaleSix" id="scaleSix4">
              <label for="scaleSix4">
                <span>4</span> <em class="description">Totally agree</em>
              </label>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="comments">
        <label for="commentSix">Comments</label>
        <textarea placeholder="Tell us the steps you took to find the data. e.g I googled for the data and found the data in the first search result." id="commentSix" rows="5"></textarea>
      </div>
    </div>

    <div class="select question">
      <div class="main">
        <div>
          <div class="instructions">
            <div class="collapse" id="instructionsSeven">
              <h4>Instructions</h4>
              <p>
                Pick the URL where you find the most complete dataset.
              </p>
            </div>
            <a class="toggle" role="button" data-toggle="collapse" href="#instructionsSeven" aria-expanded="false" aria-controls="instructionsSeven"><span class="sr-only">Help</span><span class="icon">?</span></a>
          </div>
          <h2><span>B3.</span> Select one URL and tell us which of the following dataset characteristics you can find in the dataset.</h2>
        </div>

        <div>
          <div class="current">
            {# if current entry #}
            <dl>
              <dt>
                Current entry
              </dt>
              <dd>
                My URL Description 1
              </dd>
            </dl>
            {# end if #}
          </div>
          <div class="answer-wrapper">
            <div class="answer">
              <select>
                <option value="">Please select</option>
                <option value="my-url-description-1">My URL Description 1</option>
                <option value="my-url-description-2">My URL Description 2</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="comments">
        <label for="commentSeven">Comments</label>
        <textarea placeholder="Add comments" id="commentSeven" rows="5"></textarea>
      </div>
    </div>

    <div class="multiple question continuation">
      <div class="main">
        <div>
          <div class="instructions">

          </div>
        </div>
        <div>
          <div class="current">
            {# if current entry #}
            <dl>
              <dt>
                Current entry
              </dt>
              <dd>
                Characteristic 1
              </dd>
              <dd>
                Characteristic 2
              </dd>
              <dd>
                Characteristic 3
              </dd>
            </dl>
            {# end if #}
          </div>
          <div class="answer-wrapper">
            <div class="short answer">
              <ul>
                <li>
                  <input type="checkbox" name="checkboxEight" id="checkboxEight1" value="1">
                  <label for="checkboxEight1"><span class="letter">A</span> <span class="description">Characteristic 1</span></label>
                </li>
                <li>
                  <input type="checkbox" name="checkboxEight" id="checkboxEight2" value="1">
                  <label for="checkboxEight2"><span class="letter">B</span> <span class="description">Characteristic 2</span></label>
                </li>
                <li>
                  <input type="checkbox" name="checkboxEight" id="checkboxEight3" value="1">
                  <label for="checkboxEight3"><span class="letter">C</span> <span class="description">Characteristic 3</span></label>
                </li>
                <li>
                  <input type="checkbox" name="checkboxEight" id="checkboxEight4" value="1">
                  <label for="checkboxEight4"><span class="letter">D</span> <span class="description">Characteristic 4</span></label>
                </li>
                <li>
                  <input type="checkbox" name="checkboxEight" id="checkboxEight5" value="1">
                  <label for="checkboxEight5"><span class="letter">E</span> <span class="description">Characteristic 5</span></label>
                </li>
                <li>
                  <input type="checkbox" name="checkboxEight" id="checkboxEight6" value="1">
                  <label for="checkboxEight6"><span class="letter">F</span> <span class="description">Characteristic 6</span></label>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="comments">
        <label for="commentEight">Comments</label>
        <textarea placeholder="Add comments" id="commentEight" rows="5"></textarea>
      </div>
    </div>

    <div class="multiple question continuation">
      <div class="main">
        <div>
          <div class="instructions">

          </div>
        </div>
        <div>
          <div class="current">
          </div>
          <div class="answer-wrapper">
            <div class="answer">
              <ul>
                <li>
                  <input type="checkbox" name="checkboxEight" id="checkboxEight1b" value="1">
                  <label for="checkboxEight1b"><span class="letter">A</span> <span class="description">Characteristic 1</span></label>
                </li>
                <li>
                  <input type="checkbox" name="checkboxEight" id="checkboxEight2b" value="1">
                  <label for="checkboxEight2b"><span class="letter">B</span> <span class="description">Characteristic 2</span></label>
                </li>
                <li>
                  <input type="checkbox" name="checkboxEight" id="checkboxEight3b" value="1">
                  <label for="checkboxEight3b"><span class="letter">C</span> <span class="description">Characteristic 3</span></label>
                </li>
                <li>
                  <input type="checkbox" name="checkboxEight" id="checkboxEight4b" value="1">
                  <label for="checkboxEight4b"><span class="letter">D</span> <span class="description">Characteristic 4</span></label>
                </li>
                <li>
                  <input type="checkbox" name="checkboxEight" id="checkboxEight5b" value="1">
                  <label for="checkboxEight5b"><span class="letter">E</span> <span class="description">Characteristic 5</span></label>
                </li>
                <li>
                  <input type="checkbox" name="checkboxEight" id="checkboxEight6b" value="1">
                  <label for="checkboxEight6b"><span class="letter">F</span> <span class="description">Characteristic 6</span></label>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="comments">
        <label for="commentEight">Comments</label>
        <textarea placeholder="Add comments" id="commentEight" rows="5"></textarea>
      </div>
    </div>

    <div class="yes-no question">
      <div class="main">
        <div>
          <div class="instructions">

          </div>
          <h2><span>B4.</span> Is the data available free of charge?</h2>
        </div>
        <div>
          <div class="current">
          </div>
          <div class="answer-wrapper">
            <div class="answer">
              <input type="radio" name="yesnoNine" id="yesnoNine1">
              <label for="yesnoNine1">
                <span>No</span>
              </label>
              <input type="radio" name="yesnoNine" id="yesnoNine2">
              <label for="yesnoNine2">
                <span>Yes</span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="comments">
        <label for="commentNine">Comments</label>
        <textarea placeholder="Add comments" id="commentNine" rows="5"></textarea>
      </div>
    </div>

    <div class="yes-no question">
      <div class="main">
        <div>
          <div class="instructions">

          </div>
          <h2><span>B5.</span> Is the whole dataset downloadable at once?</h2>
        </div>
        <div>
          <div class="current">
          </div>
          <div class="answer-wrapper">
            <div class="answer">
              <input type="radio" name="yesnoTen" id="yesnoTen1">
              <label for="yesnoTen1">
                <span>No</span>
              </label>
              <input type="radio" name="yesnoTen" id="yesnoTen2">
              <label for="yesnoTen2">
                <span>Yes</span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="comments">
        <label for="commentTen">Comments</label>
        <textarea placeholder="Add comments" id="commentTen" rows="5"></textarea>
      </div>
    </div>

    <div class="yes-no question">
      <div class="main">
        <div>
          <div class="instructions">

          </div>
          <h2><span>B6.</span> This dataset should be updated every {{ x }}: Is the data up-to-date?</h2>
        </div>

        <div>
          <div class="current">
          </div>
          <div class="answer-wrapper">
            <div class="answer">
              <input type="radio" name="yesnoEleven" id="yesnoEleven1">
              <label for="yesnoEleven1">
                <span>No</span>
              </label>
              <input type="radio" name="yesnoEleven" id="yesnoEleven2">
              <label for="yesnoEleven2">
                <span>Yes</span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="comments">
        <label for="commentEleven">Comments</label>
        <textarea placeholder="Add comments" id="commentEleven" rows="5"></textarea>
      </div>
    </div>

    <div class="yes-no question">
      <div class="main">
        <div>
          <div class="instructions">

          </div>
          <h2><span>B7.</span> Is the data openly licensed/in public domain?</h2>
        </div>
        <div>
          <div class="current">
          </div>
          <div class="answer-wrapper">
            <div class="answer">
              <input type="radio" name="yesnoTwelve" id="yesnoTwelve1">
              <label for="yesnoTwelve1">
                <span>No</span>
              </label>
              <input type="radio" name="yesnoTwelve" id="yesnoTwelve2">
              <label for="yesnoTwelve2">
                <span>Yes</span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="comments">
        <label for="commentTwelve">Comments</label>
        <textarea placeholder="Add comments" id="commentTwelve" rows="5"></textarea>
      </div>
    </div>

    <div class="multiple question">
      <div class="main">
        <div>
          <div class="instructions">

          </div>
          <h2><span>B8.</span> In which formats is the data?</h2>
        </div>

        <div>
          <div class="current">
          </div>
          <div class="answer-wrapper">
            <div class="answer">
              <ul>
                <li>
                  <input type="checkbox" name="checkboxThirteen" id="checkboxThirteen1" value="1">
                  <label for="checkboxThirteen1"><span class="letter">A</span> <span class="description">.abc</span></label>
                </li>
                <li>
                  <input type="checkbox" name="checkboxThirteen" id="checkboxThirteen2" value="1">
                  <label for="checkboxThirteen2"><span class="letter">B</span> <span class="description">.def</span></label>
                </li>
                <li>
                  <input type="checkbox" name="checkboxThirteen" id="checkboxThirteen3" value="1">
                  <label for="checkboxThirteen3"><span class="letter">C</span> <span class="description">.ghi</span></label>
                </li>
                <li>
                  <input type="checkbox" name="checkboxThirteen" id="checkboxThirteen4" value="1">
                  <label for="checkboxThirteen4"><span class="letter">D</span> <span class="description">.jkl</span></label>
                </li>
                <li>
                  <input type="checkbox" name="checkboxThirteen" id="checkboxThirteen5" value="1">
                  <label for="checkboxThirteen5"><span class="letter">E</span> <span class="description">.mno</span></label>
                </li>
                <li>
                  <input type="checkbox" name="checkboxThirteen" id="checkboxThirteen6" value="1">
                  <label for="checkboxThirteen6"><span class="letter">F</span> <span class="description">Other</span></label>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="comments">
        <label for="commentThirteen">Comments</label>
        <textarea placeholder="If you answered 'other', tell us the format here" id="commentThirteen" rows="5"></textarea>
      </div>
    </div>

    <div class="text question">
      <div class="main">
        <div>
          <div class="instructions">

          </div>
          <h2><span>B9.</span> Any other comments?</h2>
        </div>
        <div>
          <div class="current">
            {# if current entry #}
            <dl>
              <dt>
                Current entry
              </dt>
              <dd>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              </dd>
            </dl>
            {# end if #}
          </div>
          <div class="answer-wrapper">
            <div class="answer">
              <textarea rows="5"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="comments">

      </div>
    </div>
  </div>
</section>

<footer class="form-footer">
  <div class="container">
    <div class="yes-no sub neutral question">
      <div class="main">
        <div>
          <div class="instructions">
            <div class="collapse" id="instructionsFifteen">
              <h4>Instructions</h4>
              <p>
                By default, submissions to the census are credited to the submitter. If you would prefer to remain anonymous, please indicate so by checking the box.
              </p>
            </div>
            <a class="toggle" role="button" data-toggle="collapse" href="#instructionsFifteen" aria-expanded="false" aria-controls="instructionsFifteen"><span class="sr-only">Help</span><span class="icon">?</span></a>
          </div>
          <h2>Sam, would you prefer your submission to remain anonymous?</h2>
        </div>
        <div>
          <div class="current">
          </div>
          <div class="answer-wrapper">
            <div class="answer">
              <input type="radio" name="yesnoOne" id="yesnoFifteen1" checked="">
              <label for="yesnoFifteen1">
                <span>No</span>
              </label>
              <input type="radio" name="yesnoOne" id="yesnoFifteen2">
              <label for="yesnoFifteen2">
                <span>Yes</span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="comments">
      </div>
    </div>

    <div class="submit continuation question">
      <div class="main">
        <div>
          <div class="instructions">
          </div>
          <p>
            <small>
              By submitting material to the index you agreeing to <a href="http://okfn.org/terms-of-use/">terms of use</a> and also to license your contribution (to the extent there are any rights in it!) under the <a href="http://opendatacommons.org/licenses/pddl/1.0/">Open Data Commons Public Domain Dedication and License</a>.
            </small>
          </p>
        </div>
        <div>
          <div class="current">
          </div>
          <div class="answer-wrapper">
            <div class="answer">
              <button>Submit</button>
            </div>
          </div>
        </div>
      </div>
      <div class="comments">
      </div>
    </div>

    {# review #}
    <div class="text question">
      <div class="main">
        <div>
          <div class="instructions">

          </div>
          <h2>Please add a short comment as to why you are accepting or rejecting this submission. <strong>Note that your message will be publically visible</strong></h2>
        </div>
        <div>
          <div class="current">
          </div>
          <div class="answer-wrapper">
            <div class="answer">
              <textarea rows="5"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="comments">

      </div>
    </div>
    <div class="submit continuation question">
      <div class="main">
        <div>
          <div class="instructions">
          </div>
          <h4>Important</h4>
          <p>
            As the reviewer, your name (Sam) will be logged and displayed with the entry.
          </p>
          <p>
            If necessary, edit the submission before accepting it. In particular, please correct any spelling mistakes.
          </p>
          <p>
            <span class="label label-info">Publish</span> will overwite the whole entry with the data in this form.
          </p>
        </div>
        <div>
          <div class="current">
          </div>
          <div class="answer-wrapper">
            <div class="answer">
              <button>Publish</button> <button class="reject">Reject</button>
            </div>
          </div>
        </div>
      </div>
      <div class="comments">
      </div>
    </div>
    {# end review #}

  </div>
</footer>
{% endblock %}
